
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=PT+Sans:wght@400;700&display=swap'); font-family: 'PT Sans', sans-serif; */
html {font-size: 15px;}
body {font-family: 'Open Sans', sans-serif;font-family: 'Montserrat', sans-serif;color: #161314;}



a, .btn, input, input[type="search"], input[type="submit"] { webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
a { color: inherit; }
li.active a, a:hover, a:focus { text-decoration: none; color: #01c6b8; outline: none; }
p {/* margin-bottom: 1.25rem; */ }
.btn {padding: 0.75rem 2.5rem;font-weight: 600;font-size: 1rem;border: none;box-shadow: none;background: #01c6b8;color: #fff;text-transform: capitalize;outline: none;border-radius: 100px;}
.btn-sm {
    padding: .6rem .5rem;
    font-size: .9rem;
}
.btn:hover, .btn:focus, form input[type="submit"]:hover, form input[type="submit"]:focus {background: #059790;color: #fff;}

.form-control {height: 3rem;}
.form-control:focus, .form-control:hover { box-shadow: none; color: rgb(0, 0, 0); border-color: #a7a7a7; }
.themecolor { color: #01c6b8; }
.font-weight-medium { font-weight: 500; }
.font-weight-semibold { font-weight: 600; }
.section-title {
    font-size: 2.5rem;
}



@media (min-width: 1200px){
.container {
    max-width: 1200px;
}
}

.navbar .navbar-nav .nav-item:not(:last-child) { margin-right:3rem;}
.navbar .navbar-nav .nav-link {
    padding: 0px 2px;
} 

.navCol{font-size: 21px;color: black;}
.collapse navbar-collapse{color: black;}


.banner{background-size: cover;min-height: 70vh;}
.banner h1 {
    font-size: 2.95rem;
}
.banner p {
    font-size: 1.5rem;
}
.sect-bg {background: #f1f8fe;}

.border-color{border-color: #f6f6f6!important}

.cv-sect { border-bottom:1px solid #f6f6f6!important;}
.cv-benefits em {
    font-size: 2rem;
    border: 2px solid #f8f8f8;
    width: 7rem;
    line-height: calc(7rem - 4px);
}

.quote:after, .quote:before {
    position: absolute;
	    display: block;
	    width: 1.2rem;
	    height: 1.2rem;
	    background: url(assets/img/quotes@1_25x.png) no-repeat 50%/100% auto;
	    content: "";
}
.quote:before {
    top: 7rem;
    left: 0rem;}
    .quote:after {
     right: 10rem;
    bottom: 6rem;;;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)}
    .item img{ width: 100px!important;}
    .section-8{background-image: url(assets/img/triangles-400.jpg);background-size: cover;}
    .footer__links__link{color: black;}
#progressbar {/* margin-bottom: 25px; */overflow: hidden; /*CSS counters to number the steps*/counter-reset: step;padding-left: 0px;}
#progressbar li {list-style-type: none;color: rgba(41, 44, 68, 0.48);/* text-transform: uppercase; */font-size: 14px;width: 100%;/* float: left; */position: relative;text-align: center;padding: 0px 3px;/* font-weight: bold; *//* z-index: 10; */}
#progressbar li.active {color: #2184be;font-weight: bold;}
#progressbar li:before {content: counter(step);counter-increment: step;width: 2rem;line-height: 2rem;display: block;font-size: 1rem;color: #2184be;background: #e2ebf7;/* background: #ffffff; */border-radius: 3em;margin: 0 auto 5px auto;z-index: 5;position: relative;}
/* Progressbar connectors */
#progressbar li:after {content: '';width: 100%;height: 2px;background: #e2ebf7;position: absolute;left: -50%;top: 14px;z-index: 0;}
#progressbar li:first-child:after { /* connector not needed before the first step */ content: none; }
/* Marking active/completed steps green */
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after { background: #2184be; color: white; }

#msform fieldset {
    background: rgba(243, 243, 243, 0.18);
    background: #fff;
    /* border-radius: 5px; */
    padding: 2rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto 20px;
    position: relative;
    border: 1px solid rgba(225, 225, 225, 0.33);
    border-radius: 5px;
}
    fieldset {
    display: none;
}
.form-title {font-size: 2rem;font-weight: 600;}
.form-sub-title {font-size: 1.1rem;}
form .input-error {
    border-color: #ff0000;
}
.remove{ font-size: 2rem }


.bootstrap-select{display: block !important;width: 100% !important;}
.bootstrap-select  .btn.dropdown-toggle {
    background: #fff;
    color: inherit;
    font-size: 1rem;
    font-weight: 400;
    padding: .375rem .75rem;
    border-radius: 0px;
    color: #495057;
    border: 1px solid #ced4da;
}
