html { font-size: 16px; }
body { font-family: 'Helvetica'; background: #edf1f2; color: #141414; }
a, .btn, input, input[type="search"], input[type="submit"] { -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
h1, h2, h3, h4, h5, h6 { margin-bottom: 10px; }
header ul, footer ul, aside ul { margin-bottom: 0px; list-style-type: none; padding: 0px; }
a, small { color: inherit; }
li.active a, a:hover, a:focus { text-decoration: none; color: inherit; outline: none; }
.btn {padding: .6rem 2rem;text-transform: capitalize;outline: none;/* border: 1px solid #175163; */border-radius: 4px;}
.btn:not(:first-child) { margin-left: 3px }
.btn-custom { background: #017baa; color: #ffffff; border: 1px solid transparent }
.btn-group-sm>.btn, .btn-sm { padding: .5rem 1.4rem; border-radius: .2rem; }
.btn-group-lg>.btn, .btn-lg { padding: .9rem 2rem; font-size: 1.15rem; }
.btn-custom:hover, .btn-custom:focus { background: #ffffff; color: #017baa; border-color: #017baa; }
input:not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="search"]), select {box-shadow: none;font-size: inherit;color: inherit;border-color: #e1e1e1;}
.form-control, input.form-control, select.form-control {min-height: 2.8rem;}
.form-control-lg, input.form-control-lg, select.form-control-lg { min-height: 50px; font-size: 1.1rem; }
.form-control-sm, input.form-control-sm, select.form-control-sm { min-height: 34px; }
.form-control:focus { color: #175163; border-color: #175163; outline: 0; box-shadow: none; }
.custom-input-group { background: #fff; }
.custom-input-group .form-control, .custom-input-group .form-control:focus { border-color: transparent; border: none; padding-left: 0px; }
.custom-input-group .input-group-text { padding: 7px 9px; margin-bottom: 0; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #0e3946; background: none; border: none; border-radius: .25rem; }
.form-control::-webkit-input-placeholder { color: #aeaeae; font-size: 0.9rem }
.form-control::-moz-placeholder { color: #aeaeae; font-size: 0.9rem }
.form-control:-ms-input-placeholder { color: #aeaeae; font-size: 0.9rem }
.form-control::-ms-input-placeholder { color: #aeaeae; font-size: 0.9rem }
.form-control::placeholder { color: #aeaeae; font-size: 0.9rem }
@font-face { font-family: 'Helvetica'; src: url('../fonts/Helvetica.eot'); src: url('../fonts/Helvetica.eot') format('embedded-opentype'), url('../fonts/Helvetica.woff2') format('woff2'), url('../fonts/Helvetica.woff') format('woff'), url('../fonts/Helvetica.ttf') format('truetype'), url('../fonts/Helvetica.svg#Helvetica') format('svg'); }
@font-face { font-family: 'HelveticaBold'; src: url('../fonts/HelveticaBold.eot'); src: url('../fonts/HelveticaBold.eot') format('embedded-opentype'), url('../fonts/HelveticaBold.woff2') format('woff2'), url('../fonts/HelveticaBold.woff') format('woff'), url('../fonts/HelveticaBold.ttf') format('truetype'), url('../fonts/HelveticaBold.svg#HelveticaBold') format('svg'); }
.fontreg { font-family: 'Helvetica'; }
.fontmed { }
.fontbold { font-family: 'HelveticaBold'; }
.btn-link {
    font-weight: 400;
    color: #017baa;
    text-decoration: none;
}
.absolute { position: absolute; }
.loginBody { padding-top: 0px; background: none; }

/*  Login page style start here */
.loginwrapper { }
.login-left {width: 33%;border-right: 1px solid #23292b;background-image: url('../img/login.jpg');background-repeat: no-repeat;background-position: top center;background-size: cover;padding: 3% 2.8%;position: relative;}
.login-left:after { content: ''; background: #036990; position: absolute; width: 1px; top: 0px; bottom: 0px; right: 0px; }
.login-bg-logo { margin-bottom: 3rem; }
.login-left-bg h4 { margin-bottom: 2rem; font-size: 1.33rem; }
.login-left-bg p { font-size: 1.05rem; }
.login-right {width: 67%;padding: 3% 3%;}
.dont-have-account {margin-bottom: 1rem;}
.login-form { width: 60%; max-width: 600px; }
.welcometitle { color: #003b5e; font-size: 2.2rem; margin-bottom: 1.5rem; }
.login-form-logo { margin-bottom: 1.8rem; }
.login-form form { margin-top: 3rem; }
.login-form form .form-group { margin-bottom: 1.5rem; }
.custom-control-label::before, .custom-control-label::after { width: 1.2rem; height: 1.2rem; left: -1.7rem; top: 0.09rem; }
.custom-control { padding-left: 1.7rem; }
.login-btn {font-size: 1rem;padding-left: 2rem;padding-right: 2rem;}
.social-menu li:not(:last-child) { margin-right: 1rem; }
.social-menu li a { font-size: 1.25rem; line-height: 2.5rem; width: 2.5rem; text-align: center; border-radius: 100%; -ms-border-radius: 100%; -moz-border-radius: 100%; -o-border-radius: 100%; -webkit-border-radius: 100%;/* background: #3c5b9b; */ color: #fff; }
.social-menu li a:hover { opacity: 0.85; }
a.fa-facebook { background: #5c79b6; }
a.fa-twitter { background: #2daae2; }
a.fa-linkedin { background: #0173b2; }
a.fa-youtube { background: #EE1C1B; }
a.fa-instagram { background: #2c6a93; }
a.fa-google-plus { background: #f73e29; }
a.fa-pinterest { background: #f73e29; }
/*  Login page style end here */
@media (max-width:1199px) and (min-width:992px) {
    body { padding-top: 66px; }
    html { font-size: 14px; }
    .login-form { width: 70%; max-width: 600px; }
    .login-btn { font-size: 1.2rem; padding-left: 2.5rem; padding-right: 2.5rem; }
}
@media  (max-width:991px) {
    html { font-size: 13px; }
    .btn { padding: .6rem 1.8rem; border-radius: 5px; }
    input:not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="search"]), select { min-height: 37px; }
    .login-left { width: 40%; padding: 5% 3%; }
    .login-right { width: 60%; padding: 3% 3%; }
    .login-form { width: 90%; }
    .login-form form { margin-top: 2rem; }
    .login-btn { font-size: 1.1rem; padding-left: 2.5rem; padding-right: 2.5rem; }
}
@media (max-width:767px) {
    .btn { padding: .6rem 1.56rem; border-radius: 4px; }
    .loginwrapper { position: static; }
    .login-right { width: 80%; padding: 3% 2rem; }
    .login-form { width: 100%; max-width: 100%; }
    .welcometitle { font-size: 2rem; margin-bottom: 1.2rem; }
    .dont-have-account { margin-bottom: 2rem; }
    .login-form form { margin-top: 1.5rem; }
    .login-form form .form-group { margin-bottom: 1rem; }
}
@media (max-width:576px) { }
@media (max-width:479px) {
    .login-right { width: 100%; padding: 3% 1.5rem; }
}
