/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');*/
html {font-size: 14px;}
body {font-family: 'Helvetica';background: #F2F2F2;color: #141414;padding-top: 69px;}
a, .btn, input, input[type="search"], input[type="submit"] { -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
h1, h2, h3, h4, h5, h6 {margin-bottom: 10px;}
.table td, .table th {padding: .65rem .7rem;}

.tabel-align-middle td, .tabel-align-middle th {
    vertical-align: middle;
}


.table thead th {border-bottom: none;border-top: none;white-space: nowrap;}
header ul, footer ul, aside ul { margin-bottom: 0px; list-style-type: none; padding: 0px; }
a, small { color: inherit; }
a:hover, a:focus {text-decoration: none;outline: none;color: #37A000;}
.btn {padding: .65rem 1.5rem;text-transform: capitalize;outline: none;/* background: #175163; *//* color: #fff; */border: 1px solid #37A000;color: #37A000;}
.btn:not(:first-child) { margin-left:3px}
.btn:hover, .btn:focus {
    color: #fff;
    background: #37A000;
}
.btn-custom {background: #017baa;color: #ffffff; border: 1px solid transparent}
.btn-primary {
    background-color: #017baa;
    border-color: #017baa;
}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #026b93;
    border-color: #006c95;
}

.btn-group-sm>.btn, .btn-sm { padding: .5rem 1.4rem; border-radius: .2rem; }
.btn-group-lg>.btn, .btn-lg {/* padding: .7rem 1.7rem; */font-size: 1.2rem;}
.btn-custom:hover, .btn-custom:focus {background: #ffffff;color: #017baa; border-color:#017baa;}

input.form-control, input:not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="search"]), select, .form-control {box-shadow: none;font-size: inherit;color: inherit;border-color: #bebebe;}
input.form-control, select.form-control {min-height: 39px;}


input.form-control-lg, select.form-control-lg {min-height: 50px;font-size: 1.1rem;}
input.form-control-sm, select.form-control-sm {min-height: 34px;}
.form-control:focus { color: #175163; border-color: #175163; outline: 0; box-shadow: none; }

.custom-input-group {/* background: #fff; */}
.custom-input-group .form-control, .custom-input-group .form-control:focus {border-color: transparent;border: none;/* padding-left: 0px; */}
.custom-input-group .input-group-text {padding: 7px 9px;margin-bottom: 0;font-size: 1rem;font-weight: 400;line-height: 1.5;color: #0e3946;background: none;border: none;border-radius: .25rem;}

.form-control::-webkit-input-placeholder { color:#aeaeae;  }
.form-control::-moz-placeholder { color:#aeaeae;  }
.form-control:-ms-input-placeholder { color:#aeaeae;  }
.form-control::-ms-input-placeholder { color:#aeaeae; }
.form-control::placeholder {color:#aeaeae;}

.modal-header { padding: 0; border-bottom: none; display: block; }
.modal-title {margin-bottom: 0;line-height: 1.3;padding: 0.7rem 1rem;border-bottom: 1px solid #e9ecef;background: #e1e1e1;font-family: 'HelveticaBold';}
.modal-header .close {width: 24px;background: #ff1200;line-height: 20px;color: #fff;opacity: 1;border-radius: 100%;position: absolute;padding: 0 0px 4px;right: -11px;outline: none;top: -10px;margin: 0px;font-size: 1.2rem;}
.fa-remove:before, .fa-close:before, .fa-times:before { content: "\f00d"; }
.fa-angle-up:before { content: "\f106"; }

.custompadding { padding: 1.2rem 1.1rem; }
.customborder {/* border: 1px solid #e1e1e1; *//* box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); */box-shadow: 0 1px 6px rgba(57,73,76,.35);}
.color-white { color: #fff; }

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.eot');
    src: url('../fonts/Helvetica.eot') format('embedded-opentype'),
         url('../fonts/Helvetica.woff2') format('woff2'),
         url('../fonts/Helvetica.woff') format('woff'),
         url('../fonts/Helvetica.ttf') format('truetype'),
         url('../fonts/Helvetica.svg#Helvetica') format('svg');
}
@font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/HelveticaBold.eot');
    src: url('../fonts/HelveticaBold.eot') format('embedded-opentype'),
         url('../fonts/HelveticaBold.woff2') format('woff2'),
         url('../fonts/HelveticaBold.woff') format('woff'),
         url('../fonts/HelveticaBold.ttf') format('truetype'),
         url('../fonts/HelveticaBold.svg#HelveticaBold') format('svg');
}
.fontreg { font-family: 'Helvetica'; }
.fontbold { font-family: 'HelveticaBold';}
.absolute {position: absolute;}
/*  Login page style end here */

header {background: #175163;background: #fff;color: #656565;box-shadow: 0 1px 6px rgba(57,73,76,.35);}
header a:hover {color: #37a000;}
.toprow, .main-content { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; }
figure.logo {/* background: #114353; */margin-bottom: 0px;padding: 0.67rem 1rem;}
.sm-logo, .logoin .lg-logo { display: none; }
.logoin .sm-logo { display: block; }
.top-bar {-ms-flex: 1;flex: 1;/* padding: 1rem 0px; */}
.backlink a {font-size: 2rem;border-right: 1px solid #f1f1f1;padding: 1.33rem 20px;}
.backlink .actarrow:before {content: "\f00d";}
.mobarrow.actarrow:before {/* content: "\f0a8"; */}
.mobarrow:before {/* content: "\f0a9"; */}
.actarrow img { transform: rotate(180deg); -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); -moz-transform: rotate(180deg); }

.h-search-col { padding-left:20px; width:100%}

.topsearch-col { padding: 0px 5px; }
.topsearches > .row { margin-right: -5px; margin-left: -5px; }
.userlinks > ul > li.nav-item > a.nav-link {padding: 0rem 1.8rem 0rem 0rem;min-height: 69px;}
.userlinks > ul > li.nav-item > .dropdown-toggle::after { display: none; }

.userlinks > ul > li.nav-item > a.nav-link.profilelink {
    border-left: 1px solid #eaeaea;
    padding-left: 1rem;
    padding-right: 0rem;
}

.nav-link:focus, .nav-link:hover {
    text-decoration: none;
    color: #0e3946;
}

.profileimg { max-width:46px;}


.bars-dropdown a[aria-expanded="true"]:before { content: "\f00d"; }
.prof-dropdown a[aria-expanded="true"] .username:before { content: "\f106"; }
.userdropdown .nav-link {line-height: 2.1rem;font-size: 1.5rem;}
.ntifction-dropdown .dropdown-menu {min-width: 19rem;}
.userlist .dropdown-menu {/* background: #015f85; */color: inherit;padding: 0px;border: none;/* border-top: 1px solid; *//* border-color: rgb(232, 232, 232); */border-radius: 0px;top: 100% !important;transform: inherit !important;right: 0px;left: auto !important;font-size: 1rem;margin-top: 0rem;padding-bottom: 5px;font-size: 0.9rem;box-shadow: 0px 5px 5px 0px rgba(57,73,76,.35);}
.prof-dropdown .dropdown-menu {margin-top: 0rem;/* padding-bottom: 5px; *//* font-size: 0.9rem; */}
.userlist .dropdown-menu .dropdown-item {color: inherit;white-space: nowrap;}
.usercol+.usercol {border-top: 1px solid #eaeaea;}
.usercol > a { padding: 0.67rem 0.7rem; font-size: 0.933rem; }
.usercol > a:hover, .userlist .dropdown-item:hover {background: none;color: #37A000;}
.usercol img { width: 40px; height: 40px; border-radius: 50%; float: left; }
.user-data { padding-left: 10px; font-size: 0.9rem; }
.msgname, .notifi-name { }
.message { font-size: 13px; }
.notiflink { display: block; }
.notifi-name { margin-bottom: 1px; }
.notifi-date {color: #c6c6c6;display: inline-block;margin-top: 3px;}
.prof-dropdown .username {margin-right: 1rem;padding-left: 1.3rem;line-height: 1.3;position: relative;text-transform: capitalize;}

.prof-dropdown .username:before {
    content: "\f107";
    display: inline-block;
    font-family: FontAwesome;
    position: absolute;
    left: 0px;
}


.userlist .dropdown-item {padding: 9px 12px;}
.userlist .dropdown-item:not(:last-child){
    /* border-bottom: 1px solid #eaeaea; */
}


.userlist .dropdown-divider { border-top: 1px solid #175163; }
.bars-dropdown .dropdown-menu { padding: 12px 12px; }
.openinv { margin-left: -12px; margin-right: -12px; }

.sidebar {z-index: 100;font-size: 1rem;top: 97px;bottom: 0px;color: #656565;}
.sidebar, .sidebarbg, figure.logo {width: 230px;}
.sidebarbg {position: fixed;background: #ffffff;height: 5000px;left: 0px;right: 0px;top: 0px;z-index: -10;}
.sidebarin .sidebarbg:after {/* width: 80px; */ }

.sidebarprof {}
.sideprotext {
    margin-top: 0.8rem;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
}
.sidebarprof h6 {font-size: 1.3rem;}
.sidebarprof small {font-size: 1rem;}

.sidebarnav {padding: 0px;/* color: #656565; */}
.sidebarnav ul {/* padding-top: 1.3rem; */}
.sidebarnav ul > .nav-item { position: relative; }
.sidebarnav ul .nav-link span {/* white-space:nowrap; *//* padding-left: 37px; */display: block;-webkit-transition: all .2s ease 0s;transition: all .2s ease 0s;-webkit-transform: translate3d(0px, 0, 0);transform: translate3d(0, 0, 0);}
.sidebarnav ul .nav-link {/* border-bottom: 1px solid transparent; */position: relative;padding: 13px 1rem 13px 3.2rem;min-height: 51px;color: #656565;border-left: 5px solid transparent;}
.sidebarnav ul .nav-link.dropdown-toggle {padding-right: 2rem; }
.sidebarin ul .nav-link.dropdown-toggle {padding-right: 1rem;}

.sidebarnav ul .nav-item:before, .sidebarnav ul .nav-item:after, .sidebarnav ul .nav-link:before, .sidebarnav ul .nav-link:after {content: '';display: table;clear: both;border: none;}
.sidebarnav .dropdown.show .nav-link:hover, .sidebarnav .dropdown.show .nav-link:focus, .sidebarnav li:hover .nav-link, .sidebarnav li:focus .nav-link, .sidebarnav .nav-link:hover, .sidebarnav .nav-link:focus, .sidebarnav .nav-item.active a {/* background: #37A000; */border-bottom-color: #37A000;color: inherit;color: #37A000;border-color: #37A000;}
.sidebarnav .dropdown-toggle::after { display: none; }
.sidebarnav ul .dropdown.show  .dropdown-toggle em:before { content: "\f106"; }
.sidebarnav .nav-link em { position: absolute; right: 1rem; top: 50%; margin-top: -8px; }
.sidebarnav ul .nav-link > i.fa {-webkit-transition: all .5s ease 0s;transition: all .5s ease 0s;position: absolute;left: 1rem;font-size: 1.5rem;margin-top: 0px;width: 1.6rem;text-align: center;}
.sidebarnav .dropdown-menu {position: static;float: none;background: none;/* background: #015f85; */color: #fff;border: none;padding: 0px;font-size: 0.95rem;margin-top: 0px;}
.sidebarnav .dropdown-item {color: #656565;padding: 0.75rem 1rem 0.75rem 3rem;position: relative;}
.sidebarnav .dropdown-item:before {content: "\f105";position: absolute;left: 1rem;font-family: fontawesome;width: 24px;text-align: center;line-height: 1;margin-top: 3px;}
.sidebarnav .drp-counter .dropdown-item { padding-right: 4.6rem; position: relative; }
.sidebarnav .dropdown-item:hover, .sidebarnav .dropdown-item:focus, .sidebarnav .dropdown-item.active, .sidebarnav .dropdown-item:active {color: #37a000;/* background: #0e3946; *//* border-bottom-color: #175163; */background: none;}
.sidebarin .sidebarnav ul .dropdown .dropdown-toggle em:before {content: "\f105";}
.sidebarin .sidebarnav ul .dropdown.show .dropdown-toggle em:before {content: "\f104";}
.sidebarin .sidebarnav ul .nav-link span, .sidebarin .sideprotext {/* display:none; */opacity: 0;-webkit-transform: translate3d(-25px, 0, 0);transform: translate3d(-25px, 0, 0);height: 0;margin-top: 0px;}
.sidebarin .sidebarnav ul .nav-link img { margin-right: 0px; }
.sidebarin .dropdown-menu {font-size: 1rem;position: absolute;left: 100%;top: 0px;margin-top: 0px;/* background: #0e3946; */border-radius: 0px;}
.sidebarin .sidebarnav .dropdown-item {color: inherit;padding: 0.75rem 1rem;border-bottom: 1px solid #175163;}
.sidebarin .dropdown-item:before {display:none;}
.sidebarin .sidebarnav .drp-counter .dropdown-item { padding-right: 5rem; }
.sidebarin .sidebarnav .dropdown-item:hover {/* background: #175163; *//* color: #fff; */}
.linkcounter { position: absolute; background: #5bd6fc; right: 1rem; padding: 1px 5px; border-radius: 1px; font-size: 0.9rem; top: 7px; }
.right-content {-ms-flex: 1;flex: 1;padding: 0rem 20px 2rem;overflow: hidden;position: relative;}
.right-content-in { padding-left: 0px }

.main-titl-row {
   /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.56); */
   margin: 0px -20px 15px;
   padding-left: 5px;
   padding-right: 5px;
   /* box-shadow: 0 1px 6px rgba(57,73,76,.35); */
}

.search-col .custom-input-group {border-radius: 6px;/* border: 2px solid #e1e1e1; */overflow: hidden;background: #e6ebef;}
.search-col .custom-input-group input { background:none;}
.search-col .custom-input-group .input-group-text {padding: 8px 1rem 8px;}

.h-search-col .custom-input-group {border-radius: 10px;border: 1px solid #ffffff;overflow: hidden;background: none;/* color: #fff; */}
.h-search-col .custom-input-group .input-group-text {
    padding: 0px 12px;
    color: #ffffff;
    font-size: 1.3rem;
}

.menulink { margin-bottom:30px;}
.menulink > div {/* margin-bottom:30px; */}
.menulink .fa {font-size:3.5rem;padding-left: 0.5rem;}
.menulink span { }

.actionicon {line-height: 26px;display: block;width: 30px;border-radius: 2px;}
.actionicon:hover, actionicon:focus { color:#fff;}
.actionicon:not(:first-child) { margin-left:3px}

.section-header {
    background: #017baa;
    padding: 9px 1.1rem;
    margin: -1.24rem -1.14rem 1.3rem;
    color: #fff;
}

.page-link {
    color: inherit;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #53ad24;
    border-color: #53ad24;
}

.user-address-col .table th, .user-address-col .table td {
    padding: 0rem .7rem 0.5rem;
}
.user-address-col .table th{padding-left:0px;}
.user-address-col .table td{padding-right:0px;}
.profileSectList li:not(:last-child) {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.profileSectList li p:last-child {
    margin-bottom: 0rem;
}

.skillslist li > .badge { font-size: 1rem; }
.skillslist li > .badge .badge {width: 24px;line-height: 23px;font-size: 0.75rem;}
.sociallinks li em {
    width: 35px;
    line-height: 35px;
    font-size: 1.35rem;
    }

.sociallinks li em.fa-facebook { background:#5a8ab4;}
.sociallinks li em.fa-twitter {background: #00acee;}
.sociallinks li em.fa-pinterest { background:#c8232c ;}
.sociallinks li em.fa-linkedin {background: #0e76a8;}
.sociallinks li em.fa-instagram {background: #3f729b ;   background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);}
.sociallinks li em.fa-globe {background: #b6cec4;}

 td.cvprofileimg figure {
    width: 40px;
    height: 40px;
}
.cvuserslist td {
    padding: 5px .7rem;
}

.profiletabs .nav-item.show .nav-link, .profiletabs .nav-link.active, .profiletabs .nav-link:hover {
    color: #ffffff;
    background-color: #37A000;
    border-color: #dee2e6 #dee2e6 #fff;
}
.profiletabs .nav-tabs .nav-link {
    padding: .6rem 1.4rem;
}
#progressbar {/* margin-bottom: 25px; */overflow: hidden; /*CSS counters to number the steps*/counter-reset: step;padding-left: 0px;}
#progressbar li {list-style-type: none;color: rgba(41, 44, 68, 0.48);/* text-transform: uppercase; */font-size: 14px;width: 100%;/* float: left; */position: relative;text-align: center;padding: 0px 3px;/* font-weight: bold; *//* z-index: 10; */}
#progressbar li.active {color: #2184be;font-weight: bold;}
#progressbar li:before {content: counter(step);counter-increment: step;width: 2rem;line-height: 2rem;display: block;font-size: 1rem;color: #2184be;background: #e2ebf7;/* background: #ffffff; */border-radius: 3em;margin: 0 auto 5px auto;z-index: 5;position: relative;}
/* Progressbar connectors */
#progressbar li:after {content: '';width: 100%;height: 2px;background: #e2ebf7;position: absolute;left: -50%;top: 14px;z-index: 0;}
#progressbar li:first-child:after { /* connector not needed before the first step */ content: none; }
/* Marking active/completed steps green */
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after { background: #2184be; color: white; }

#msform fieldset {
    background: rgba(243, 243, 243, 0.18);
    background: #fff;
    /* border-radius: 5px; */
    padding: 2rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto 20px;
    position: relative;
    border: 1px solid rgba(225, 225, 225, 0.33);
    border-radius: 5px;
}
    fieldset {
    display: none;
}
.form-title {font-size: 2rem;font-weight: 600;}
.form-sub-title {font-size: 1.1rem;}
form .input-error {
    border-color: #ff0000;
}
.remove{ font-size: 2rem }


.bootstrap-select{display: block !important;width: 100% !important;}
.bootstrap-select  .btn.dropdown-toggle {
    background: #fff;
    color: inherit;
    font-size: 1rem;
    font-weight: 400;
    padding: .375rem .75rem;
    border-radius: 0px;
    color: #495057;
    border: 1px solid #ced4da;
}

@media (max-width:1199px) and (min-width:992px) {
    body { padding-top: 66px; }
    html {font-size: 14px;}

    figure.logo, .sidebarbg { width: 230px; }
    .sidebar { width: 230px; z-index: 100; }
    .userlinks > ul > li.nav-item > a.nav-link {padding: 0rem 1.7rem 0rem 0rem;}
    .userdropdown .nav-link { line-height: 2.1rem; font-size: 1.3rem; }
    .userdropdown .dropdown-menu {/* margin-top: 1.52rem; *//* min-width: 20rem; */}
    #profilelink img { max-width: 40px; }
    .sidebarnav ul .nav-link > img { width: 23px; margin-top: -4px; margin-right: 7px; }
    .sidebarnav ul .nav-link {
    padding: 11px 1rem 10px 3rem;
    min-height: 42px;
}
.sidebarnav ul .nav-link > i.fa {
       position: absolute;
       left: 1rem;
       font-size: 1.5rem;
       margin-top: -2px;
       width: 1.5rem;
       text-align: center;
}
.right-content {
    padding: 0rem 20px 2rem;
}
.main-titl-row {
    margin: 0px -20px 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.sidebarnav ul .nav-link span {/* padding-left: 32px; */}
.menulinkrow {margin-right: -8px;margin-left: -8px;}
.menulink {
    margin-bottom: 16px;
    padding-right: 8px;
    padding-left: 8px;
}
.menulink .fa {
    font-size: 2.5rem;
}

}
@media  (max-width:991px) {
    html {font-size: 13px;}
    body {padding-top: 60px;}
.btn {
    padding: .6rem 1.8rem;
    border-radius: 5px;
}
input:not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="search"]), select {

min-height: 37px;
}


    figure.logo, .sidebarbg { width: 190px; }
    .sidebar { width: 190px; font-size: 1rem; }
    .backlink a.fa {font-size: 2.1rem;}



.userlinks > ul > li.nav-item > a.nav-link {
    min-height: 60px;
}
    .userdropdown .nav-link { font-size: 1.6rem; }
    .userdropdown .dropdown-menu {/* margin-top: 1.9rem; *//* min-width: 20rem; */}
    #profilelink img {max-width: 40px;}


   .sidebarnav ul .nav-link {
    padding: 11px 1rem 9px 3rem;
    min-height: 40px;
}
.sidebarnav ul .nav-link.dropdown-toggle {
    padding-right: 1.7rem;
}


.sidebarnav ul .nav-link > i.fa {
font-size: 1.3rem;
margin-top: 0px;
width: 1.5rem;
}
.sidebarin ul .nav-link > i.fa {
    font-size: 1.5rem;
    left: 1.2rem;
    margin-top: -1px;
}
    .sidebarnav .nav-link em { margin-top: -5px; }
    .sidebarin .sidebarnav .dropdown-item {padding: 0.8rem 1.3rem;}

.right-content {
    padding: 0rem 20px 2rem;
}
.main-titl-row {
    margin: 0px -20px 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.title-col .maintitle {
    font-size: 1.5rem;
}

.menulinkrow {margin-right: -8px;margin-left: -8px;}
.menulink {
    margin-bottom: 16px;
    padding-right: 8px;
    padding-left: 8px;
}
.menulink .fa {
    font-size: 2rem;
}

 }
@media (max-width:767px) {
body {
    padding-top: 49px;
}
.btn {
    padding: .6rem 1.56rem;
    border-radius: 4px;
}
    .btn-group-sm>.btn, .btn-sm { }
    .btn-group-lg>.btn, .btn-lg { padding: .7rem 1.5rem; font-size: 1.05rem; }
    .lg-logo { display: none; }
    .sm-logo { display: block; }
    figure.logo {width: 60px;}
       .userlinks > ul > li.nav-item > a.nav-link {
    min-height: 48px;
    padding: 0rem 1.2rem 0rem 0rem;
}
     .backlink a.fa {font-size: 1.6rem;padding: 0.5rem 15px;}

.search-icons {font-size: 1.6rem;}


.h-search-col  { padding-left:15px;}
.h-search-col .custom-input-group {
    border-radius: 8px;
    border: 1px solid #dedede;
}
.h-search-col .custom-input-group .input-group-text {
    padding: 0px 12px;
    color: #141414;
    font-size: 1.3rem;
}

    .sidebarin .sidebarnav ul .nav-link span {    /* display: none; */ }
    .sidebar, .sidebarbg {width: 60px;}



.sidebarin ul .nav-link > i.fa {
    font-size: 1.5rem;
    left: 1rem;
    margin-top: -1px;
}
.sidebarnav ul .nav-link {
    padding: 11px 1rem 9px 3rem;
}
.sidebarnav ul .nav-link.dropdown-toggle {
    padding-right: 1.5rem;
}
.sidebarnav .nav-link em {
    margin-top: -7px;
}


.sidebar .sidebarnav ul .nav-link span,  .sidebar .sideprotext {
    opacity: 0;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
    height: 0;
    margin-top: 0px;
}
.sidebar .dropdown-item:before {display:none;}
.sidebarin .sidebarnav ul .nav-link span, .sidebarin .sideprotext {
    display: block;
    height: auto;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
.sidebarin .sideprotext {

    margin-top: 1rem;
}


.sidebar .dropdown-menu {
    font-size: 1rem;
    position: absolute;
    left: 100%;
    top: 0px;
    margin-top: 0px;
    border-radius: 0;
}
.sidebar .sidebarnav .dropdown-item {
    padding: 0.8rem 1.3rem;
}

.sidebarin .dropdown-menu {
    font-size: 1rem;
    position: static;
}


.sidebar .sidebarnav ul .dropdown.show .dropdown-toggle em:before {
     content: "\f104";
}
.sidebar .sidebarnav ul .dropdown .dropdown-toggle em:before {
    content: "\f105";
}
.sidebarin  .sidebarnav ul .dropdown .dropdown-toggle em:before {
    content: "\f107";
}
.sidebarin .sidebarnav ul .dropdown.show .dropdown-toggle em:before {
    content: "\f106";
}


.right-content {
    padding: 0rem 15px 2rem;
}
.main-titl-row {
    margin: 0px -15px 20px;
    padding-left: 0;
    padding-right: 0;
}






.userdropdown .nav-link {
    font-size: 1.3rem;}
#profilelink img {
    max-width: 34px;
}



}
@media (max-width:576px) {
    body {/* padding-top: 66px; */}
    .userdropdown .nav-link { font-size: 1.3rem; }
    #profilelink img { max-width: 40px; }
    .prof-dropdown .username { display: none; }
    .userdropdown .dropdown-menu {/* margin-top: 1.5rem; */}
    .usercol img { width: 30px; height: 30px; }
    .usercol > a { padding: 0.67rem 0.7rem; font-size: 0.9rem; }

}
@media (max-width:479px) {
}
